body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.body {
    width: 100%;
    height: 100%;
}

#block_1 {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: rgb(35, 64, 112);
    fill: white;
    background-attachment: fixed;
    background-image: url(./../Images/84770f_3c5f3a5909244ec59869fb26eef16ad1_mv2.jpg);
    background-position: bottom;
}

.size {
    width: 100%;
    height: auto;
}

#blick .content {
    width: 100%;
}

#block_1 .item_top {
    display: flex;
    justify-content: center;
}

#block_1 .item_top .container {
    margin-top: 5%;
    width: 391px;
    height: auto;
    position: relative;
}

#block_1 .item_top .container .text {
    position: absolute;
    left: 95px;
    top: 6px;
}

#block_1 .item_center {
    justify-content: center;
    display: flex;
}

#block_1 .item_center .text {
    margin-top: 22px;
    margin-bottom: 20px;
    font-size: 106px;
    color: white;
    font: normal normal bold 106px/1.4em sacramento, cursive;
    text-align: center;
    line-height: 1.2em;
}

#block_1 .item_center .icon_left {
    transform: rotate(320deg);
    margin: -100px -85px 0px 0px;
    width: 100px;
}

#block_1 .item_center .icon_right {
    margin: -15px -62px 0px 0px;
    padding-left: 25px;
    width: 50px;
    height: auto;
    transform: rotate( 330deg);
}

#block_1 .item_bottom {
    text-align: center;
    margin-bottom: 12px;
}

#block_1 .item_bottom .container {
    display: inline-block;
    width: 76px;
    height: 30px;
}

#block_2 {
    background-color: rgb(235, 197, 42);
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
}

#block_2 .container {
    width: 56%;
    margin-top: 100px;
    display: flex;
}

#block_2 .container .left {
    width: 70%;
}

#block_2 .container .left h3 {
    margin-bottom: 20px;
    font: normal normal bold 38px/1.4em sacramento, cursive;
    color: rgb(35, 64, 112);
}

#block_2 .container .left .form {
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    color: rgb(86, 87, 62);
}

#block_2 .container .left .form input {
    background: none;
    width: 100%;
    height: 45px;
    margin-top: 10px;
    border: 1px solid #4d484833;
    color: #20303c8c;
    font-size: 18px;
    padding-left: 10px;
}

#block_2 .container .left .form .error {
    border: 1px solid rgba(255, 0, 0, 0.712)!important;
}

#block_2 .container .left .form span {
    color: rgba(255, 0, 0, 0.712);
    font-size: 14px;
}

#block_2 .container .left .form input:focus {
    border: 1px solid #3d2e2ea3;
    outline: none;
}


/* #block_2 .container .left .form::placeholder {
    color: rgb(53, 50, 206);
    background-color: red;
} */

#block_2 .container .left .form .input:not(:last-child) {
    width: 43%;
    padding: 0px;
    margin: 0px 15px;
}

#block_2 .container .left .form .input:first-child {
    width: 43%;
    padding: 0px;
    margin-left: 0px;
}

#block_2 .container .left .form label {
    font-size: 17px;
}

#block_2 .container .left .form .special {
    width: 91%;
    padding: 0px;
    margin-top: 38px;
}

#block_2 .container .left .form button {
    width: 94%;
    margin-top: 38px;
    margin-bottom: 10px;
    padding: 14px 0px;
    background-color: rgb(35, 64, 112);
    color: white;
    border: none;
    font-size: 20px;
}

#block_2 .container .left .right {
    width: 30%;
}

#block_2 .container .right {
    width: 30%;
}

#block_2 .container .right .block h3 {
    padding-left: 20px;
    color: white;
    padding-top: 21px;
    font-size: 21px;
    padding-bottom: 10px;
}

#block_2 .container .right .block h4 {
    color: rgb(200, 207, 219);
    padding: 20px 0px;
    padding-left: 20px;
    font-size: 15px;
    margin: 0px;
}

#block_2 .container .right .block {
    background-color: rgb(35, 64, 112);
    width: 100%;
}

#block_2 .container .right hr {
    margin: auto;
    width: 80%;
    border: none;
    border-top: 1px solid rgb(57, 83, 126);
}


/* Menu */

#menu {
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0px;
}

#menu .container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white
}

#menu .container .nav {
    width: 50%;
}

#menu .container .nav ul {
    justify-content: space-between;
    display: flex;
    list-style: none;
    padding: 0px;
}

#menu .container .nav li {
    line-height: 16px;
    color: rgb(35, 64, 112);
    padding: 2px 0px;
}

#menu .container .nav a:hover {
    color: rgb(235, 197, 42);
    transition-duration: 0.5s;
}

#menu .container .nav a {
    text-decoration: none;
    color: rgb(35, 64, 112);
    font-weight: 600;
}

#menu .end {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(235, 197, 42);
}

#menu .end .container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    background: none;
}

#menu .end .container span {
    padding: 5px 0px;
    font: normal normal normal 14px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
}

#menu .active {
    color: rgb(235, 197, 42)!important;
    transition-duration: 0.5s;
}