/* footer */

#menu {
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0px;
}

#menu .container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white
}

#menu .container .nav {
    width: 50%;
}

#menu .container .nav ul {
    justify-content: space-between;
    display: flex;
    list-style: none;
    padding: 0px;
}

#menu .container .nav li {
    line-height: 16px;
    color: rgb(35, 64, 112);
    padding: 2px 0px;
}

#menu .container .nav a:hover {
    color: rgb(235, 197, 42);
    transition-duration: 0.5s;
}

#menu .container .nav a {
    text-decoration: none;
    color: rgb(35, 64, 112);
    font-weight: 600;
}

#menu .end {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(235, 197, 42);
}

#menu .end .container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    background: none;
}

#menu .end .container span {
    padding: 5px 0px;
    font: normal normal normal 14px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
}

#menu .active {
    color: rgb(235, 197, 42)!important;
    transition-duration: 0.5s;
}